<div class="card bg-dark text-white mx-5">
  <img
    src="{{coverImage}}"
    class="card-img"
    alt="..."
    style="width:100%;height:500px;object-fit: cover;opacity: 0.6"
  />
  <div class="card-img-overlay row">
    <div class="col align-self-end">
      <div class="d-flex justify-content-center">
        <div class="card" style="max-width: 18rem;">
          <h1 class="card-title text-center text-black mx-3">{{name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mx-5 mt-5">
<div class="col-6">
  {{!-- start --}}
    <p>
      <span>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Toggle width collapse
  </button>
 <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1">
    Toggle width collapse
  </button>
      </span>
</p>
<div style="min-height: 120px;" id="display_data">
  <div class="collapse" data-bs-parent="#display_data" id="collapseWidthExample">
    <div class="card card-body">
      This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
    </div>
  </div>

  <div class="collapse" data-bs-parent="#display_data" id="collapseWidthExample1">
    <div class="card card-body">
      1111111111111111111111111111111111111111111111111111111111111111111111111111111
    </div>
  </div>
</div>
    {{!-- end --}}
</div>
<div class="col-6">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_1.jpg"
            class="d-block w-100"
          />
          <p>hello</p>
        </div>
        <div class="carousel-item">
          <img
            src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_2.jpg"
            class="d-block w-100"
          />
          <p>hello1</p>
        </div>
        <div class="carousel-item">
          <img
            src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_3.jpg"
            class="d-block w-100"
          />
          <p style="text-align: center;">hello2</p>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>